body {
    margin: 0;
    width: 100%;
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#directory td {
    width: 200px;
}
#wrapper {
    display: flex;
}

#loginform {
    margin-right: 100px;
}